<h2 class="page-header">Search Books</h2>
<form action="/books" method="GET">
 <div class="form-item">
<label> Title </label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
</div>
<div class="form-row">
 <div class="form-item">
<label> publishAfter </label>
    <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
</div>
 <div class="form-item">
<label> PublishedBefore </label>
    <input type="date" name="PublishedBefore" value="<%= searchOptions.PublishedBefore %>">
</div>
</div>
<div class="btn-row form-row-end">
    <button type="submit" class="btn searchBooksBtn btn-primary">Search</button>
</div>
</form>
<div>
  <%- include('../partials/bookgrid.ejs') %>
</div>

