<h2 class="page-header">Recently added</h2>
<h4><% if(locals.userName === undefined) { %>
<% } else { %>
    <div class="welcome-greet">
        <span class="closebtn" onclick="this.parentElement.style.display = 'none';">&times;</span>
       <span> Welcome <%= locals.userName  %> ! </span> 
    </div>
 <% } %> </h4>
<%- include('./partials/bookgrid.ejs', { books: books , large: true}) %>

