<div class="container">
    <h1>Login</h1>
    <% if (locals.messages.error) { %>
        <%= locals.messages.error  %> 
    <% } %>

    <form action="/user/login"  method="POST">
        <input type="Email" name="email" required>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
        
    </form>
    <a href="/user/register">Don't Have An Account? Register Now!</a>
</div>