<div class="register-container">
    <h1 class="page-header">Login</h1>
    <% if (locals.messages.error) { %>
        <div class="alert-error">
            <span class="closebtn" onclick="this.parentElement.style.display = 'none';">&times;</span>
            <%= locals.messages.error %>
        </div>
    <% } %>

    <form action="/user/login" class="regForm"  method="POST">

        <label for="email" class="labelMail">Email</label>
        <input type="Email" name="email" id="email" required>
  
        
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
      
        <button class="btn-login btn-primary" type="submit">Login</button>
        
    </form>
    <a href="/user/register" class="login-link">Don't Have An Account? Register Now!</a>
</div>