<h2 class="page-header"><%= author.name %></h2>
<div class="btn-row">
    <a href="/authors/<%= author.id %>/edit" class="btn btn-primary">Edit</a>
    <%- include('../partials/deleteform' , { url: `authors/${author.id}` }) %>
</div>
<% if(booksByAuthor.length > 0)  { %>
    <h2 class="authorsHeading">Books By author</h2>
    <%- include('../partials/bookgrid.ejs' , { books: booksByAuthor , large: true}) %>

<% } %>